html,
body
{
    width: 100%;
    margin: 0;
    padding: 0;
}

.body
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 147px;
}

.page-header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: #7c7b89;
    backdrop-filter: blur(20px); 
}

.page-header_container 
{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.main
{
    flex: 1 0 auto;
    background-color: #f1e4de;
}

.page-body_text
{
    color: #0b7fab;
}
.page-footer
{
    flex: 0 0 auto;
    background-color: #f4d75e;
}

h1 
{
    position: relative;
    color: #e9723d !important;
}

h1::after{content: "Memory";}
h1::before {content: "United";}

h1::first-letter
{
    color: #f4d75e;
}

#title
{
    font-size: 50px;
}

.page-body_title
{
    font-size: 10px;
}